doctype html
| PASTE YOUR HTML CODE HERE
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='author' content='5ENPAI')
  meta(name='description' content="Rethink buying and sign up for early access | Shop with Prime without the subscribtion! 5ENPAI gives you the privacy you want when shopping on Amazon's market.")
  meta(name='keywords' content='5ENPAI, senpai, notice me senpai, Amazon, prime, privacy, secret shopping, bitcoin')
  title 5ENPAI - Rethink Buying
  link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')
  // Font Awesome icons (free version)
  script(src='https://use.fontawesome.com/releases/v5.12.1/js/all.js' crossorigin='anonymous')
  // Google fonts
  link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Core theme CSS (includes Bootstrap)
  link(href='css/styles.css' rel='stylesheet')
// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    img.navbar-brand.js-scroll-trigger.logo-nav(src='assets/img/5ENPAI_Logo_Large.jpg' href='#page-top' style='width: 15%;')
    button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      | Menu
      i.fas.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#about') About
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#projects') &#x1F511;Points
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#signup') Join
// Masthead
header.masthead
  .container.d-flex.h-100.align-items-center
    .mx-auto.text-center
      h1.mx-auto.my-0.text-uppercase 5ENPAI
      h2.text-white-50.mx-auto.mt-2.mb-5 Rethink how you buy online.
      a.btn.btn-primary.js-scroll-trigger(href='#signup') Join Now
// About
section#about.about-section.text-center
  .container
    .row
      .col-lg-8.mx-auto
        h2.text-white.mb-4 Made with privacy in mind
        p.text-white-50
          | 5ENPAI is a service that gives users the privacy of purchasing products, without the thought of knowing your purchases are being tracked back to you by marketers in
          a(target='_blank' href='http://amazon.com')  Amazon
          | . While you shop using 5ENPAI, you&apos;ll have the power of Prime without the commitment of the subscription.
    img.img-fluid(src='assets/img/ipad.png' alt="signing up for 5ENPAI's early access email list on the ipad")
// Projects
section#projects.projects-section.bg-light
  .container
    // Featured Project Row
    .row.align-items-center.no-gutters.mb-4.mb-lg-5
      .col-xl-8.col-lg-7
        img.img-fluid.mb-3.mb-lg-0(src='assets/img/bg-masthead.jpg' alt='5ENPAI gives you privacy to order your products in secret not tied to an amazon rpime account that would be tied back to you')
      .col-xl-4.col-lg-5
        .featured-text.text-center.text-lg-left
          h4 Private
          p.text-black-50.mb-0
            | Shop with the peace of mind knowing your information isn&apos;t being used for 
            a(target='_blank' href='https://www.amazon.com/gp/help/customer/display.html?nodeId=201909010#GUID-1B2BDAD4-7ACF-4D7A-8608-CBA6EA897FD3__SECTION_3F77537F901B4157B0CBD26834827652') Advertising
            | !
    // Project One Row
    .row.justify-content-center.no-gutters.mb-5.mb-lg-0
      .col-lg-6
        img.img-fluid(src='assets/img/demo-image-01.jpg' alt="5ENPAI saves you money when you don't pay for Amazon Prime subscription")
      .col-lg-6
        .bg-black.text-center.h-100.project
          .d-flex.h-100
            .project-text.w-100.my-auto.text-center.text-lg-left
              h4.text-white Economic
              p.mb-0.text-white-50
                | 5ENPAI makes online shopping economical to use instead of paying expensive memberships to your favorite stores websites.
              hr.d-none.d-lg-block.mb-0.ml-0
    // Project Two Row
    .row.justify-content-center.no-gutters
      .col-lg-6
        img.img-fluid(src='assets/img/demo-image-02.jpg' alt='Bitcoin crypto to pay for products online on Amazon with 5ENPAI')
      .col-lg-6.order-lg-first
        .bg-black.text-center.h-100.project
          .d-flex.h-100
            .project-text.w-100.my-auto.text-center.text-lg-right
              h4.text-white Flexible
              p.mb-0.text-white-50 Want to use crypto to pay? No problem! We support purchases made with Bitcoin.
              hr.d-none.d-lg-block.mb-0.mr-0
// Signup
section#signup.signup-section
  .container
    .row
      .col-md-10.col-lg-8.mx-auto.text-center
        i.far.fa-paper-plane.fa-2x.mb-2.text-white
        h2.text-white.mb-5
          | Join our early access list and say &apos;Goodbye&apos; those pesky marketers &#x1F575;&#x1F3FB;&zwj;&male;&#xFE0F;
        form.validate.form-inline.d-flexform(action='https://5ENPAI.us18.list-manage.com/subscribe/post?u=e36a13b76e5c6c5d46d70968d&id=e753655590' method='post' name='mc-embedded-subscribe-form')
          label(for='country_code')
          input.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(id='inputEmail mce-EMAIL' name='EMAIL' type='email' placeholder='Enter email address...' pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$')
          br
          button.btn.btn-primary.mx-auto.mc-embedded-subscribe(type='submit' value='Subscribe' name='subscribe')
            | Subscribe
// Contact
section.contact-section.bg-black
  .container
    .social.d-flex.justify-content-center
      a.mx-2(href='#!')
        i.fab.fa-twitter
      a.mx-2(href='#!')
        i.fab.fa-facebook-f
      a.mx-2(href='#!')
        i.fab.fa-youtube
// Footer
footer.footer.bg-black.small.text-center.text-white-50
  .container
    | Copyright &copy; 5ENPAI, LLC 2020
    br
    a(target='_blank' href='https://www.freepik.com/free-photos-vectors/background') Background vector created by freepik - www.freepik.com
// Bootstrap core JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')
// Third party plugin JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
// Core theme JS
script(src='js/scripts.js')
// MailChimp JS
script(type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
script(type='text/javascript').
  (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);
